.button {
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 550;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @media (max-width: 650px) {
    font-size: 14px;
  }
}

.link {
  background-color: transparent;
  color: black;

  &:hover {
    color: #f7c406;
  }
}
