.button {
  border: none;
  border-radius: 8px;
  box-shadow: none;
  font-size: 15px;
  font-weight: 550;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.1s;
  user-select: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.secondary {
  background-color: #f7c406;
  border: 1px solid #f7c406;
  color: black;
}

.tertiary {
  background-color: white;
  border: 1px solid black;
  color: black;
}