.innerContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.outerContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
}