@import 'assets/styles/variables';
@import 'assets/styles/mixin';
.label {
  color: inherit;

  // Size
  &.h1 {
    font-size: 48px;
    line-height: 56px;
  }

  &.h2 {
    font-size: 32px;
    line-height: 2.5rem;
  }

  &.h3 {
    font-family: $gl-font-family-200;
    font-size: 18px;
    font-weight: $gl-font-weight-medium;
    line-height: 24px;
  }

  &.h4 {
    font-size: 16px;
    font-weight: $gl-font-weight-bold;
  }

  &.h5 {
    font-size: 14px;
    font-weight: $gl-font-weight-bold;
    line-height: 20px;
  }

  &.lg {
    font-size: 12px;
    font-weight: $gl-font-weight-bold;
  }

  &.md {
    font-size: 10px;
  }

  &.sm {
    font-size: 8px;
    font-weight: $gl-font-weight-medium;
  }

  // Type
  &.error {
    color: $clr-error-100;
  }

  &.light {
    color: $clr-text-400;
  }
}
